@keyframes scaleUpTitle{
    to {
        transform: translate(-50%,-50%) scaleX(1);
    }
}

@keyframes slideTitleUp {
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideUp {
    100%{
        transform: translateY(0);
    }
}
@keyframes slideRightTo{
    to{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes fadeInUp {
    to{
        opacity: 1;
        transform:translateY(0) ;
    }
}

@keyframes pulsate {
    0%{
        box-shadow: 0 0 25px #5ddcff, 0 0 25px #4c00e2;
    }
}

@keyframes revealTexts {
    from{
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

@keyframes move-wheel {
    0%{
        opacity: 0;
        transform: translateY(-1rem);
    }

    100%{
        opacity: 1;
        transform: translateY(1rem);
    }
}