
.home{
    background-color: black;
}

.container-content{
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
    /*animation: revealTexts .9s forwards;*/
    
}

.container-content img{
    margin-top: -10px;
    
    animation: slideRightTo 0.7s 0.2s forwards ease;
    transform: translateX(190%);
    opacity: 0;
}

.container-info{
    overflow-y:hidden ;
    margin-top: 30px;
    
}

.container-info h4{
    margin-bottom: 10px;
    animation-delay: .175s;
    animation: slideTitleUp 0.7s 0.1s forwards ease;
    transform: translateY(170%);
    opacity: 0;
    
}

.container-info h1{
    font-size: 50pt;
    font-family: 'Akshar', sans-serif;
    animation-delay: .25s;
    animation: slideTitleUp 0.9s 0.2s forwards ease;
    transform: translateY(270%);
    opacity: 0;
    
}

.container-info h3{
    
    animation: slideTitleUp 0.7s 0.3s forwards ease;
    transform: translateY(170%);
    opacity: 0;
    
}

.container-info p{
    
    animation: slideTitleUp 0.7s 0.4s forwards ease;
    transform: translateY(170%);
    opacity: 0;
}

#hire-me-btn{
    
    animation: slideTitleUp 1s 0.1s forwards ease;
    transform: translateY(170%);
    opacity: 0;
}

@media (max-width: 800px){
    .container-content img{
       display: none;
    }

    .container-info{
        margin-top: 0px;
        
    }

    .container-info p{
        width: 200px;
        margin-left: 10px;
        text-align: center;
    }
    
    .container-content{
        width: 220px;
        margin-left: 0px;
    }


    .container-info h4{
        text-align: center;

    }

    .container-info h1{
        text-align: center;

    }

    .container-info h3{
        text-align: center;    
    }

    #hire-me-btn{
        margin-left: 37px;
    }
}
